:root {
    & .active {
        outline: 1px solid #FA4B00;
    }
    & .notActive path {
        outline: none;
        fill: #FA4B00;
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
}

.navbarNav {
    text-align: right;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

.mobileMenu {
    display: none !important;
}

.logo {
    position: absolute !important;
    top: 0;
    left: 0;
}

.themeToggle {
    float: right;
}

@media (max-width: 768px) {
    .navbarNav {
        display: none !important;
    }

    .mobileMenu {
        display: block !important;
        position: absolute !important;
        right: 45px;
        border: none !important;
    }
}