:root { 
  & .MuiTypography-body-md {
    padding-bottom: 30px;
  }
  & .MuiLink-root,
  & .MuiIconButton-root {
    transition: background-color 0.3s ease;
  }
  & .MuiButton-root {
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #FA4B00;
  }
  & .MuiButton-root:hover {
    background-color: #d54101;
  }
}

/* This helps avoid horizontal jump when the browser adds the scrollbar */
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fdfdfd;
}

[data-joy-color-scheme="dark"] body {
  background-color: #161618;
}

h1 {
  text-align: center;
}
